@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    font-family: "montserrat", sans-serif;
    letter-spacing: 0.05em;
}

body {
    color: black;
    min-height: 100vh;
    width: 100%;
    background: url(img/bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1,
h2 {
    margin: 0.2em;
}

.container {}

.grid {
    width: 404px;
    height: 404px;
    margin: 1em auto;
    border-radius: 10px;
    border: 2px solid white;
    /* background-color: rgba(255, 255, 255, 0.6); */
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: inset 0 4px 4px rgba(255, 255, 255, 0.25), inset 0 -4px 4px rgba(0, 0, 0, 0.25);
}

.head {
    background-color: black;
    border-radius: 10px;
    border: solid 2px white;
    box-shadow: inset 0 4px 4px rgba(255, 255, 255, 0.5), inset 0 -4px 4px rgba(0, 0, 0, 0.5);
}

.apple {
    background-color: red;
    border-radius: 8px 8px 10px 10px;
    box-shadow: inset 0 4px 4px rgba(255, 255, 255, 0.5), inset 0 -4px 4px rgba(0, 0, 0, 0.5);
}

button {
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    font-size: 1.125rem;
    margin: 0.5em;
    cursor: pointer;
}

button:hover {
    outline: none;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

button:focus {
    outline: none;
}

button:active {
    box-shadow: none;
}